﻿@model CustomerViewModel

@{
    ViewData["Title"] = "Create";
}

<h5 class="font-weight-bold text-primary"><i class="icon-stack-plus mr-1"></i> Create Customer</h5>
<hr />
<div id="alert-message"></div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="Customer.CustomerID" class="control-label font-weight-bold"></label>
            <div class="input-group">
                <input asp-for="Customer.CustomerID" type="text" class="form-control onlynumber" placeholder="Customer ID" />
            </div>
            <label class="control-label text-danger customerid-validation d-none">ID can't null !</label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Customer.CustomerName" class="control-label font-weight-bold"></label>
            <div class="input-group">
                <input asp-for="Customer.CustomerName" class="form-control" placeholder="Customer Name" />
            </div>
            <label class="control-label text-danger customername-validation d-none">Customer Name can't null !</label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label asp-for="Customer.Code" class="control-label font-weight-bold"></label>
            <div class="input-group">
                <input asp-for="Customer.Code" class="form-control" placeholder="Code" maxlength="5" />
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Customer.OutletId" class="control-label font-weight-bold"></label>
            <div class="input-group">
                <select asp-for="Customer.OutletId" class="form-control" asp-items="ViewBag.OutletId">
                    <option value="">Select Outlet</option>
                </select>
            </div>
            <label class="control-label text-danger outletid-validation d-none">Outlet can't null !</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Customer.Address" class="control-label font-weight-bold"></label>
            <div class="input-group">
                <textarea asp-for="Customer.Address" class="form-control" placeholder="Entry your address" style="resize:none;"></textarea>
            </div>
            <span asp-validation-for="Customer.Address" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Customer.StartDate" class="control-label font-weight-bold"></label>
            <div class="input-group pt-4">
                <span class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-calendar22"></i></span>
                </span>
                <input asp-for="Customer.StartDate" type="text" class="form-control daterange-single-empty" />
            </div>
            <span asp-validation-for="Customer.StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="Customer.EndDate" class="control-label font-weight-bold"></label>
            <div class="input-group pt-4">
                <span class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-calendar22"></i></span>
                </span>
                <input asp-for="Customer.EndDate" type="text" class="form-control daterange-single-empty" />
            </div>
            <span asp-validation-for="Customer.EndDate" class="text-danger"></span>
        </div>
    </div>
</div>
<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary py-1" title="Back To List"><i class="icon-backward mr-1"></i> Back</a> |
                <button type="button" class="btn btn-success py-1" id="btn-add" title="Add Data Customer To List"><i class="icon-add-to-list mr-1"></i> ADD</button>
                <button type="submit" class="btn btn-primary py-1" id="btn-submit" hidden="hidden" title="Save Data Customer"><i class="icon-database-add mr-1"></i> SAVE</button>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table id="table-create" class="table table-bordered" width="100%">
                <thead>
                    <tr class="text-center bg-light">
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.CustomerID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.CustomerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.EndDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Customer.OutletId)
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody-create">
                    <!-- Body Table Area -->
                </tbody>
            </table>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/Client/Customer/Create.js"></script>
}