﻿@model DEXAGROUP.Models.Customers

@{
    ViewData["Title"] = "Delete";
}

<h5 class="font-weight-bold text-danger"><i class="icon-stack2 mr-1"></i> Delete Customer</h5>
<hr />
<h7>Are you sure you want to delete this ?</h7>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Outlet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Outlet.OutletName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerID" />
        <a asp-action="Index" class="btn btn-secondary py-1"><i class="icon-backward mr-1"></i> Back</a> |
        <button type="submit" class="btn btn-danger py-1"><i class="icon-database-remove mr-1"></i> DELETE</button>

    </form>
</div>
