﻿@model IEnumerable<DEXAGROUP.Models.Customers>

@{
    ViewData["Title"] = "Overview";
}

<h5 class="font-weight-bold text-primary"><i class="icon-list2 mr-1"></i> Overview</h5>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary py-1" title="Create Data Customer"><i class="icon-plus-circle2 mr-1"></i> Create</a>
</p>
<table id="table-customers" class="table table-hover table-bordered" style="width:100%">
    <thead>
        <tr class="text-center bg-light">
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Outlet)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Outlet.OutletName)
                </td>
                <td class="text-center px-0 mx-0">
                    <a asp-action="Edit" asp-route-id="@item.CustomerID" class="btn btn-success py-1" title="Edit Data Customer"><i class="icon-pencil7"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerID" class="btn btn-danger py-1" title="Delete Data Customer"><i class="icon-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table-customers').DataTable({
                "paging": true,
                "ordering": false,
                "info": false,
                "lengthChange": false
            });
        });
    </script>
}