﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Login";
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <h5> Use your account to log in.</h5>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="col-md-3 control-label font-weight-bold"><i class="icon-person mr-1"></i> Username</label>
                    <div class="col-md-6">
                        <input asp-for="UserName" class="form-control" placeholder="Entry Username" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="col-md-3 control-label font-weight-bold"><i class="icon-key mr-1"></i> Password</label>
                    <div class="col-md-6">
                        <input asp-for="Password" class="form-control" placeholder="Entry Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary py-1"><i class="icon-enter mr-1"></i> Log in</button>
                    </div>
                </div>
                <p>
                    <a asp-action="Register" class="btn btn-light py-1" asp-route-returnurl="@ViewData["ReturnUrl"]"><i class="icon-list2 mr-1"></i> Register as a new user</a>
                </p>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


