﻿@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h3>@ViewData["Title"]</h3>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
    <h5>Create a new account.</h5>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label font-weight-bold"></label>
        <div class="col-md-6">
            <input asp-for="Email" class="form-control" placeholder="Entry your email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FullName" class="col-md-2 control-label font-weight-bold"></label>
        <div class="col-md-6">
            <input asp-for="FullName" class="form-control" placeholder="Entry your full name" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label font-weight-bold"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" placeholder="Entry your Username" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label font-weight-bold"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" placeholder="Entry your password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label font-weight-bold"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary py-1"><i class="icon-list2 mr-1"></i> Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}