﻿@model DEXAGROUP.Models.Outlets

@{
    ViewData["Title"] = "Create";
}

<h5 class="font-weight-bold text-primary"><i class="icon-location4 mr-1"></i> Create Outlets</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OutletName" class="control-label font-weight-bold"></label>
                <input asp-for="OutletName" class="form-control" placeholder="Entry Outlet Name" />
                <span asp-validation-for="OutletName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary py-1" title="Back To List"><i class="icon-backward mr-1"></i> Back</a> |
                <button type="submit" class="btn btn-primary py-1" title="Save Outlet"><i class="icon-database-add mr-1"></i> SAVE</button>
            </div>
        </form>
    </div>
</div>
