﻿@model DEXAGROUP.Models.Outlets

@{
    ViewData["Title"] = "Delete";
}

<h5 class="font-weight-bold text-danger"><i class="icon-location4 mr-1"></i> Delete Outlets</h5>
<hr />
<div>
    <h7>Are you sure you want to delete this ?</h7>
    <dl class="row pt-3">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OutletName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OutletName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="OutletID" />
        <a asp-action="Index" class="btn btn-secondary py-1" title="Back To List"><i class="icon-backward mr-1"></i> Back</a> |
        <button type="submit" class="btn btn-danger py-1" title="Delete Outlet"><i class="icon-database-remove mr-1"></i> DELETE</button>
    </form>
</div>
