﻿@model DEXAGROUP.Models.Outlets

@{
    ViewData["Title"] = "Edit";
}

<h5 class="font-weight-bold text-success"><i class="icon-location4 mr-1"></i> Edit Outlets</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OutletID" />
            <div class="form-group">
                <label asp-for="OutletName" class="control-label font-weight-bold" ></label>
                <input asp-for="OutletName" class="form-control" />
                <span asp-validation-for="OutletName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary py-1" title="Back To List"><i class="icon-backward mr-1"></i> Back</a> |
                <button type="submit" class="btn btn-success py-1" title="Save Outlet"><i class="icon-database-edit2 mr-1"></i> SAVE</button>
            </div>
        </form>
    </div>
</div>
