﻿@model IEnumerable<DEXAGROUP.Models.Outlets>

@{
    ViewData["Title"] = "Index";
}

<h5 class="font-weight-bold text-primary"><i class="icon-location4 mr-1"></i> Outlet List</h5>
<hr />
<p>
    <a asp-action="Create" class="btn btn-primary py-1" title="Create Outlet"><i class="icon-plus-circle2 mr-1"></i> Create</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="text-center">
            <th width="3%">No</th>
            <th>
                @Html.DisplayNameFor(model => model.OutletID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutletName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int No = 1;
            foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>@No</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OutletID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OutletName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.OutletID" class="btn btn-success py-1" title="Edit Outlet"><i class="icon-pencil7"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.OutletID" class="btn btn-danger py-1" title="Delete Outlet"><i class="icon-trash"></i></a>
                    </td>
                </tr>
                No++;
            }
        }
    </tbody>
</table>
